.search-gen-div {
  position: relative;

  .header-search-icon {
    background-color: $light;
    border-color: $dark;
    color: $dark;
  }

  .search-user-list {
    border: 1px solid #eee;
    padding: 1rem 2rem;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
      rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    background-color: $light;
    width: 100%;
    position: absolute;
    top: 2.5rem;
    left: 0;
    z-index: 1100;

    .search-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .search-redirect {
      color: $dark;
    }

    .search-list-item {
      display: flex;
      align-items: center;
      cursor: pointer;

      .search-list-image {
        width: 40px;
        height: 40px;
        border-radius: $borderRadius-max;
        margin-right: 1rem;
      }

      .search-list-text {
        color: $dark;
      }
    }
  }
}
