.replied-user {
  padding: 2px 6px;
  background: linear-gradient(to right, rgb(241, 39, 17), rgb(245, 175, 25));
  color: #fff;
  border-radius: 12px;
  font-size: 13px;
  font-weight: 600;
}

.reply {
  display: flex;
  &-side {
    margin-right: 0.75rem;
    .reply-user-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50px;

      &:hover {
        border: 1px solid #ff6122;
      }
    }
  }
  &-body {
    border-bottom: 1px solid #ccc;
    &-header {
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        color: black;
        font-size: 13px;
        font-weight: 700;

        &:hover {
          color: #ff6122;
        }
      }

      .reply-time-ago {
        font-size: 12px;
        color: rgb(120, 124, 126);
        font-weight: 500;
      }
    }
    &-content {
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.reply-footer {
  &-menu {
    position: relative;
    &-btn {
      background: none;
      border: none;
      color: rgb(120, 124, 126);
      font-size: $fs-lg;
      float: inline-end;
    }

    &-report {
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 4px;
      position: absolute;
      padding: 5px 0;
      width: 120px;
      top: 35px;
      left: -100px;

      &-btn {
        border: none;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        // border-radius: 4px;
        padding: 0.5rem;
        color: rgb(120, 124, 126);

        &:hover {
          background-color: rgba(26, 26, 27, 0.1);
          color: #ff6122;
        }

        i {
          font-size: 18px;
        }

        .report-txt {
          font-weight: 700;
        }
      }
    }
  }
}
